<link rel="stylesheet" href="header.component.css" type='text/css'>

<nav class="navbar navbar-expand-lg">
  <div id="topnavbar">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item" style="padding-left: 70px;">
    <a class="nav-empty" href="#"></a>
  </li>
  <li id="logo" class="nav-icon">
    <a class="nav-link" href="#" style="color: white; background-color: rgb(255, 102, 0);">
      <img src="assets/logo.png" width="200" height="50" />
    </a>
  </li>
  <li class="nav-item-css-active">
    <a id="nav-link-active" class="nav-link active" aria-current="page" href="#" style="color: white; background-color: rgb(17,17,17); padding: 23px; border-radius: 0%;">Home</a>
  </li>
  <li id="nav-item-css" class="nav-item">
    <a class="nav-link" href="#" style="color:rgb(192, 192, 192);">Stream</a>
  </li>
  <li id="nav-item-css" class="nav-item">
    <a class="nav-link" href="#" style="color:rgb(192, 192, 192)">Library</a>
  </li>
  <li id="nav-item-css" class="nav-item">
    <form class="d-flex">
      <input type="search" id="query" name="q" placeholder="Search for artists, bands, podcasts" style="width: 400px; background-color: rgb(229,229,229); color: rgb(163, 163, 163);">
      <button class="btn btn-outline-success" type="submit" style="color: white; border-color: rgb(109, 109, 109); background-color: rgb(229, 229, 229);">
        <img src="assets/searchButton.png" height="22" width="22" />
      </button>
    </form>
  </li>
  <li id="nav-item-css" class="nav-item">
    <a class="nav-link">
      <button class="btn btn-outline-success" type="submit" style="color: white; border-color: rgb(201, 201, 201);">Sign In</button>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <button class="btn btn-outline-success" type="submit" style="color: white; background-color: rgb(255, 102, 0); border-color: rgb(109, 109, 109);">Create Account</button>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:rgb(192, 192, 192); padding: 22px;">Upload</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(163, 163, 163); padding: 22px;">
      ...
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">About us</a></li>
      <li><a class="dropdown-item" href="#">Legal</a></li>
      <li><a class="dropdown-item" href="#">Copyright</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Mobile apps</a></li>
      <li><a class="dropdown-item" href="#">For Creators</a></li>
      <li><a class="dropdown-item" href="#">Blog</a></li>
      <li><a class="dropdown-item" href="#">Jobs</a></li>
      <li><a class="dropdown-item" href="#">Developers</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Support</a></li>
      <li><a class="dropdown-item" href="#">Keyboard shortcuts</a></li>
    </ul>
  </li>
  <li class="nav-item" style="padding-left: 70px;">
    <a class="nav-empty" href="#"></a>
  </li>
  </ul>
</div>
</nav>
