.navbar{
    background-color: rgb(53, 53, 53);
}

#topnavbar {
    background-color: rgb(53, 53, 53);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#emptySpace {
    background-color: rgb(53, 53, 53);
}

#nav-item-css{
    padding: 4px;
    padding-top: 12px;
    border-color: black;
}

#nav-item-css-active{
    padding: 4px;
    padding-top: 9px;
}