<sc-header>Loading...</sc-header>
<sc-sidebar>Loading...</sc-sidebar>

<div id="content">

    <br /><br /><br /><br />

    <h1>Discover Tracks and Playlists</h1>

    <hr />

    <h2>Charts: Top 50</h2>
    <p>The most played tracks on SoundCloud this week</p>

    <div class="row">
        <div class="col-lg-3 d-flex align-items">
            <sc-horizontal-card>Loading...</sc-horizontal-card>
        </div>
        <div class="col-lg-3 d-flex align-items">
            <sc-horizontal-card>Loading...</sc-horizontal-card>
        </div>
        <div class="col-lg-3 d-flex align-items">
            <sc-horizontal-card>Loading...</sc-horizontal-card>
        </div>
    </div>

    <hr />

    <h2>Charts: New & hot</h2>

    <p>Up-and coming tracks on SoundCloud</p>

    <sc-carousel>Loading...</sc-carousel>

</div>
