<div class="sidenav">
    <p>Go mobile</p>
    <hr />
    <a id="imageLink">
        <img src="assets/appstoreLink.png" width="110px" height="35px" />
    </a>
    <a id="imageLink">
        <img src="assets/googleplayLink.png" width="110px" height="35px" />
    </a>
    <hr />

    <a id="link">Legal</a>
    -
    <a id="link">Privacy</a>
    -
    <a id="link">Cookie Policy</a>
    -
    <a id="link">Cookie Management</a>
    -
    <a id="link">Imprint</a>
    -
    <a id="link">Creator Resources</a>
    -
    <a id="link">Blog</a>
    -
    <a id="link">Charts</a>
    -
    <br /><br />

    <a id="languageLink">Language:</a><a id="language"> English (US)</a>
</div>

<div class="sidenav_2">
    
</div>